<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="text-align: center;">
    <ion-title style="color: white;">
      AC02 - IONIC - USANDO ION RADIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="alert_ex1">
    <ion-alert
        trigger="ver-total"
        header="Resultado:"
        message="{{res_ex1}}"
        [buttons]="alertButtons"
      >
    </ion-alert>
  </div>

  <div style="padding: 10px">
    <h1 style="text-align: center; font-size: 1.5rem;">Exercício 1</h1>
    <ion-input type="number" label="Digite os km rodados" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="km_rodado"></ion-input>
    <ion-radio-group [(ngModel)]="tipoCobranca">
      <p>Selecione a modalidade do Carro</p>
      <ion-radio value="normal">Normal</ion-radio><br />
      <ion-radio value="superior">Superior</ion-radio><br />
      <ion-radio value="VIP">VIP</ion-radio><br /><br>
    </ion-radio-group>

    <ion-button expand="block" id="ver-total" (click)="Cobranca()" style="width: 300px">Calcular</ion-button>
  </div>

  <ion-item-divider color="medium"></ion-item-divider>
</ion-content>
